@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-image: url("../img/ripples.png");
  font-family: 'Roboto', Arial, sans-serif;
}

.card-header{
  background-color: rgb(60, 60, 60);
}

.nav-link{
  color: white!important;
}

.nav-link:hover{
  border-color: transparent!important;
  background-color: rgb(100, 100, 100);
}

.nav-link.active{
  color: black!important;
}

.input-group{
  max-width: 180px;
}

.list-group{
  max-width: 400px;
}